# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
old/
# Virtual environments
.venv/
venv/
env/
ENV/
data/
old_readme/
# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db
